extends layout

block content 
    main.container(role='main' style='padding: 10px;')
        h1= title
        - if (session.status == 'Waiting')
            p.lead(style='margin-left:8px; margin-right:8px;') #[strong Hi #{session.first_name}! When we're ready for you to come in, we will send you an SMS or Phone you. Your 'Status' will also change to 'Notified'.]
            br
            p.lead(style='margin-left:8px; margin-right:8px;') #[strong Please bookmark this page to track your progress on the Waitlist. (Remember to refresh the page!)]
        hr
        br
        h2 #[strong #{session.name}]
        br

        - for (var i = 0; i < waitStartArray.length; i++)
            - var waitStartId = waitStartArray[i]._id.toString()
            - var sessionId = session._id.toString()
                - if (waitStartArray[i]._id.toString() == sessionId.toString()) 
                    - var position = i + 1
        
        - if (session.status == 'Waiting')
            h4(style='color:blue;') #[strong Status: Waiting] 
            p You are number #[h2(style='color:blue;') #{position}] (of #{waitingCount}) in line.
        - else if (session.status == 'Notified')
            h3(style='color:green;') #[strong Status: Notified]
            h4 Come on in!
        - else if (session.status == 'Confirmed')
            h3(style='color:#e60000;') #[strong Status: Confirmed]
            h4 See you soon!
        - else if (session.status == 'Archived')
            p.lead You have been removed from the waitlist.
        br
        - if (session.status == 'Waiting')
            ul
                li(style='margin-left:20px; margin-right:20px;') If you are #1-to-3 in line, you may be waiting up to 10-25 min. 
                li(style='margin-left:20px; margin-right:20px;') If you are further back, you may be waiting 30 min or more. 
                li(style='margin-left:20px; margin-right:20px;') #[strong When you are #1 in line, please be ready to come in.]
        - else if (session.status == 'Notified')
            p.lead To confirm you are on your way
            form(method='POST' action='')
                div.form-group(style='text-align: center;')
                    input#archiveSessions.form-control(type='hidden', name='confirmSession', required='true', value='true')
                    button.btn.btn-success#detailbuttons(type='submit') Click Here
        hr
        h5 #[strong Your Details:]
        br 
        - if (session.status == ('Notified'))
            p #[strong # Of Times Notified] (by SMS/Phone Call): #{session.notify_total}
            p #[strong First Notification: ] #{session.waitEnd_localTime}
        - else if (session.status == ('Archived'))
            p #[strong # Of Times Notified ](text +/- email): #{session.notify_total}
            p #[strong First Notification: ] #{session.waitEnd_localTime}
        p #[strong Starting Waitlist Position: ] #{session.position}
        p #[strong Number Of People: ] #{session.party_num}
        p #[strong Seating Preference: ] #{session.seating}
        p #[strong Cell Number: ] #{session.cell_num}
        br
        - if (session.status == 'Waiting')
            a(href=session.urlPosition) 
                button.btn.btn-success#detailbuttons(type='button' style='margin-bottom: 40px;') Refresh Page
            br
            a(href=session.urlGuestUpdate) 
                button.btn.btn-primary#detailbuttons(type='button' style='margin-bottom: 40px;') Update Details
            br
            a(href=session.urlGuestRemove) 
                button.btn.btn-danger#detailbuttons(type='button' style='margin-bottom: 60px;') Leave The Waitlist



