extends layout 

block content 
  nav.navbar.navbar-expand-md.navbar-dark.bg-dark.fixed-top
    button.navbar-toggler(type="button" data-toggle="collapse" data-target="#main-navbar" style='margin-left: 10px;')
      span.navbar-toggler-icon
    #main-navbar.collapse.navbar-collapse
      ul.navbar-nav.mr-auto(style='margin-left: 10px;')
        li.nav-item
          a.nav-link(href='/waitlist/gravlaxisnotalaxative') Home/FAQ
        li.nav-item
          a.nav-link(href='/waitlist/sessions') Active
        li.nav-item
          a.nav-link(href='/waitlist/sessions/waiting') Waiting
        li.nav-item
          a.nav-link(href='/waitlist/sessions/notified') Notified
        li.nav-item
          a.nav-link(href='/waitlist/sessions/confirmed') Confirmed
        li.nav-item
          a.nav-link(href='/waitlist/sessions/archived') Archived
        li.nav-item
          a.nav-link(href='/waitlist/session/create') Create New
  main.container(role='main' style='padding: 60px;')
    h1= title
    h3 #[strong Name: ] #{session.name}
    br
    - for (var i = 0; i < waitStartArray.length; i++)
        - var waitStartId = waitStartArray[i]._id.toString()
        - var sessionId = session._id.toString()
            - if (waitStartArray[i]._id.toString() == sessionId.toString()) 
                - var position = i + 1

    - if (session.status == 'Waiting')
        h4(style='color:blue;') #[strong Status: Waiting] 
    - else if (session.status == 'Notified')
        h3(style='color:green;') #[strong Status: Notified]
    - else if (session.status == 'Confirmed')
        h3(style='color:#e60000;') #[strong Status: Confirmed]
    - else if (session.status == 'Archived')
        h3(style='color:#751aff;') #[strong Status: Archived]
    br
    - if (session.has_cell)
      p(style='color:red;') #[strong Does the Guest have a Smart Phone? NOPE!]
      br
    - if (!session.wait_end)
      p #[strong CURRENT Waitlist Position: ] #{position} (of #{waitingCount})
    p #[strong Starting Waitlist Position: ] #{session.position}
    p #[strong Wait Duration ] #{session.wait_end ? `(Completed): ${session.wait_completed} min` : `(Ongoing): ${session.wait_duration} min`}
    p #[strong Time Started Wait: ] #{session.waitStart_localTime} 
    - if (session.wait_end)
      p #[strong First Notification: ] #{session.waitEnd_localTime} 
    p #[strong # Of Times Notified: ] #{session.notify_total}
    p #[strong Number Of People: ] #{session.party_num}
    p #[strong Seating Preference: ] #{session.seating}
    p #[strong Cell Number: ] #{session.cell_num}
    br
    hr
    p
      a(href=session.urlDetails+'/notify') 
        button.btn.btn-primary#detailbuttons(type='button') Notify By SMS
    br
    p
      a(href=session.urlDetails+'/notifyphone') 
        button.btn.btn-warning#detailbuttons(type='button') Already Phoned Guest
    br
    p
      a(href=session.urlDetails+'/update') 
        button.btn.btn-success#detailbuttons(type='button') Update Session
    br
    p
      a(href=session.urlDetails+'/delete') 
        button.btn.btn-danger#detailbuttons(type='button') Delete Session